body {
    background-color: black;

    background-image: url(https://i0.wp.com/cutewallpaper.org/21/4k-gif-wallpaper/The-Matrix-Live-Wallpaper-For-Pc-Gif-Siboneycubancuisine.com.gif);
    background-repeat: no-repeat;
    background-size: 1920px 1080px; 
    background-position: center;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

h1 {
    color: white;
    font-size: 148px;
    text-align: center;
}

button {
    background-color: rgb(196, 126, 35);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
}